util: einit-notify

install: util
	${INSTALL} ${BINIPARAM} -d ${DESTDIR}/${UBINDIR}
	${INSTALL} ${BINIPARAM} einit-notify ${DESTDIR}/${UBINDIR}

einit-notify: einit-notify.o
	$(CXXLD) einit-notify.o -o einit-notify $(STATIC) $(GTK_LIBS) -leinit -leinit++
