#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.so
*.so.dbg
*.la
*.O
*.os

src/einit-core
src/einit-monitor

#
# Top-level generic files
#
tags
TAGS
!.gitignore


# Generated include files
#
build
build/*
/config.mk
/config.sh
/config.xml

data/einit.xml.n

build
einit/sandbox
eINIT.xcode
modules/xml/config.sh

*.orig
*.rej
*.swp
