modules: $(objects)

install: install-auto

bootstrap-configuration-xml-expat.so: bootstrap-configuration-xml-expat.o
	${LLD} bootstrap-configuration-xml-expat.o -o bootstrap-configuration-xml-expat.so -lexpat
