modules: $(objects)

install: install-auto

bootstrap-configuration-xml-expat.so: bootstrap-configuration-xml-expat.o
	${LLD} bootstrap-configuration-xml-expat.o -o bootstrap-configuration-xml-expat.so -lexpat

ipc-dbus.so: ipc-dbus.o
	${LXXLD} ipc-dbus.o -o ipc-dbus.so
