core: einit

install: einit
	${INSTALL} ${BINIPARAM} -d ${DESTDIR}/${SBINDIR}
	${INSTALL} ${BINIPARAM} einit ${DESTDIR}/${SBINDIR}

einit: $(objects)
	$(CLD) $(objects) -o einit $(STATIC) -ldl $(CORELIBS) $(LPA) $(XDYNAMIC)
